---
layout: default
---

<!--{% capture content_posts %}-->
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.content }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">read more</a>
    </article>
  {% endfor %}
</div>
<!--
{% endcapture %}

{% capture content_archives %}
<div class="archives">
  <ul>
    {% for archive in site.archives %}
      <span>
        <li class="archive-item">
          <a href="{{ archive.url }}">{{ archive.title }}</a>
        </li>
      </span>
    {% endfor %}
  </ul>
</div>
{% endcapture %}
-->
