---
layout: default
---

<article class="post">
    <h1>{{ page.title }}</h1>

    <div class="archive">
        {{ content }}

        {% if page.file %}
            <div class="archive-file">
                <embed
                src="/assets/uploads/{{ page.file | strip }}"
                type="application/pdf"
                ></embed>
            </div>
        {% endif %}
    </div>

    <div class="date">
        Written on {{ page.date | date: "%B %e, %Y" }}
    </div>

    {% include disqus.html %}
</article>
